html {
  scroll-behavior: smooth;
}

*{
	box-sizing: border-box;
}

body{
	position: relative;
}
.container{
	max-width: 1200px
}
.color1{
	background-color: #ede6e6
}
.active{
	color: #E91E63;
	font-size: 24px
}

.active:hover{
	text-decoration: none;;
	color: #000
}
a{
	text-decoration: none;
}
.card-project{
	margin-bottom: 10%
}
/*nav{
	background-color: #fff;
	color: #000;
	height: 53px;
    padding-top: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25);
    display: none;
}*/

/*.navbar-collapse{
	background-color: #000;
	width: 200px
}*/
/*nav a{
	color: #000;
}
nav a:hover li{
	text-decoration: none;
	color: #E91E63;
	border-top: 1px solid #E91E63;
	border-bottom: 1px solid #E91E63;

}

nav ul{
	
	padding: 0;
	margin: 0;
	overflow:hidden;
}

nav ul li{
	list-style: none;
	float: left;
	padding-right: 30px;
}


nav .container{
	display: flex;

}

nav .container a{
	flex-grow: 2
}*/

header{
	background-image: url(../img/home-bg.jpeg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%
	
}


header .text{
	position: absolute;
	top: calc((100vh / 2) - 53px);
	right: calc(100vw /2 - 200px);
	text-align: center;
	color: #fff;
}
header .text p{
	font-size: 30px;
	text-align: center;
}

.about-img img{
	    height: 425px;
    padding-left: 28px;
}

.text button{
	background-color: #E91E63;
	color: #fff;
	border-radius: 5px;
	text-transform: uppercase;
	outline: none;
	border:none;
	cursor: pointer;
	    height: 64px;
    padding: 17px;
    font-size: 21px;
}

.about .row{
	width: 100%
}

.about .row .about-text{
	padding-top: 15%;
	text-align: center;
	line-height: 2.5;
}
.about .row .about-text h2,.about .row .about-text h4{
	padding-bottom: 17px
}

.services{
	padding-top: 42px;
    text-align: center;
    padding-bottom: 54px;
        background-color: #F3F4F3;
    color: #000;
}
.services .row .services-text{
	text-align: center;
	margin-bottom: 30px
}

.icon-service{
	color:#E91E63;
	transition: 3s 
}

.servies-icon-content:hover  .icon-service{
	transform: rotateY(360deg);
}

.work{
	padding-top: 50px;
	text-align: center;
}

.work-projects{
	    visibility: hidden;
    transition: .5s ease;
    margin: 25px;
    color: #E91E63;
    font-size: 24px;
}

.card-project:hover .work-projects{
	visibility: visible;
}


.skills{
	padding-top: 50px;

}
.skills .container h3{
	text-align: center;
}

.container1{
	width: 100%;
  background-color: #ddd;
}
.skills-text{
	text-align: right;
	/*padding:10px;*/
	color: #fff;
}

.html {width: 90%; background-color: #4CAF50;}
.css {width: 80%; background-color: #2196F3;}
.jq {width: 60%; background-color: #f44336;}
.js {width: 50%; background-color: #808080;}




.contact{
	padding-top: 50px;
	text-align: center;
}

.cards{
    padding: 5%;
    width: 70%;
    margin-top: 54px;
    box-shadow: 0 20px 40px rgba(0,0,0,.2)
}

.cards:hover{
	tran
}

.cards-text a{
	color: #000;
	padding-right: 10px
}
.cards-text i:hover{
	color: #E91E63
}

.input-form{
	    background-color: #E91E63;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    outline: none;
    border: none;
    cursor: pointer;
    height: 64px;
    padding: 17px;
    font-size: 21px;
}

footer {
  background-color: #222;
}

.footer-wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 30px 40px 25px 40px;
}

@media only screen and (max-width: 800px) {
  .footer-wrapper {
    padding: 25px 0 0px 0;
  }
}


footer p {
  float: right;
  color: #999;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1em;
}

footer ul {
  list-style-type: none;
}

footer li {
  display: block;
}

footer a {
  float: left;
  margin-right: 5%;
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

footer a:hover {
  color: #bbb;
}

@media only screen and (max-width: 950px) {
  footer a {
    margin-right: 3%;
  }
}

@media only screen and (max-width: 800px) {
  footer p {
    float: none;
    text-align: center;
    margin: 45px 0 30px 0;
  }
  footer ul {
    text-align: center;
  }
  footer li {
    margin: 20px 0;
  }
  footer a {
    float: none;
    color: #FFF;
    margin: 0;
    font-size: 14px;
  }
}





/*.check{
	margin-right: 100px
}

.menu-icon span{
	display: block;
	width: 30px;
	height: 5px;
	background-color:#000;
	margin-top: 4px;
	text-align: right;
}

.menu-icon{
	float: right;
	margin-top: -40px;
	margin-right: -20px;
	cursor: pointer;
}
#menutoggle{
	display: none;
}
.nav-mobile{
	background-color: #fff;
	width: 437px;
	margin-top: 10px;


}
.nav-mobile ul li {
	float: left;
	padding-top: 10px;
	padding-left: 20px
}

.nav-mobile a:hover li{
	text-decoration: none;
	color: #E91E63;
	border-top: none;
	border-bottom: none;

}

.nav-mobile a:hover{
	text-decoration: none;
}*/


